@charset "UTF-8";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #eeeeee;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background-color: #000;
}

body {
  font-family: 'ar-reg';
  overflow-y: hidden;
}

@font-face {
  font-family: "reg";
  src: url("../fonts/frutiger-lt-arabic-55-roman.ttf");
}

@font-face {
  font-family: "e-bold";
  src: url("../fonts/frutiger-lt-arabic-65-bold.ttf");
}

/*------ for arabic ------*/
@font-face {
  font-family: "ar-light";
  src: url("../fonts/Tajawal-Light.ttf");
}

@font-face {
  font-family: "ar-reg";
  src: url("../fonts/Tajawal-Regular.ttf");
}

@font-face {
  font-family: "ar-md";
  src: url("../fonts/Tajawal-Medium.ttf");
}

@font-face {
  font-family: "ar-bold";
  src: url("../fonts/Tajawal-Bold.ttf");
}

@font-face {
  font-family: "ar-ex-bold";
  src: url("../fonts/Tajawal-ExtraBold.ttf");
}

/*
=====
LODEARS
=====
*/
html, body {
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-loader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

.pre-loader .progress-bar {
  background-color: #d3d3d3;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 42px 0 0 0;
}

.pre-loader .progress-bar .Shape_1 {
  background-color: #d3d3d3;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 2px;
  z-index: 4;
}

.pre-loader .progress-bar span {
  display: block;
}

.pre-loader .bar {
  background-color: #d3d3d3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pre-loader .progress {
  -webkit-animation: loader 8s ease infinite;
  animation: loader 8s ease infinite;
  background: #000;
  border: none;
  color: #fff;
  padding: 0px;
  width: 0;
  height: 2px;
}

@-webkit-keyframes fade-scale-up-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.987) translateY(-50%);
            transform: scale(0.987) translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1) translateY(0%);
            transform: scale(1.1) translateY(0%);
  }
}

@keyframes fade-scale-up-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.987) translateY(-50%);
            transform: scale(0.987) translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1) translateY(0%);
            transform: scale(1.1) translateY(0%);
  }
}

.container {
  width: 1270px;
}

.owl-carousel .owl-item img {
  width: auto;
}

.search-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}

.search-container .close {
  opacity: 0.9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search-container .zx-search {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.search-container .zx-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px 25px;
  -webkit-box-shadow: 0px 0px 10px 0px #00000080;
          box-shadow: 0px 0px 10px 0px #00000080;
}

.search-container .zx-search input::-webkit-input-placeholder {
  font-family: ar-reg;
}

.search-container .zx-search input::-moz-placeholder {
  font-family: ar-reg;
}

.search-container .zx-search input:-ms-input-placeholder {
  font-family: ar-reg;
}

.search-container .zx-search input::-ms-input-placeholder {
  font-family: ar-reg;
}

.search-container .zx-search input::placeholder {
  font-family: ar-reg;
}

.search-container .zx-search button {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: -1px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

[dir="ltr"] .search-container .zx-search button {
  left: unset;
  right: -1px;
}

.search-container .zx-search button:hover {
  color: #fff;
}

.upper-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/*------ upperbar start ------*/
.upper-bar {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.149);
}

.upper-bar .zx-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-bar .upper-left, .upper-bar .upper-right {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-bar .upper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-bar .upper-left > span {
  font-family: reg;
  font-size: 14px;
  color: #bfbfbf;
  padding: 0 5px;
}

.upper-bar .upper-left > a {
  font-family: ar-reg;
  font-size: 14px;
  color: #bfbfbf;
  margin: 0 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.upper-bar .upper-left > a:hover {
  color: #fff;
}

.upper-bar .upper-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: ar-reg;
  font-size: 14px;
  color: #bfbfbf;
}

.upper-bar .lang-switcher, .upper-bar .cur-switcher {
  position: relative;
  font-family: ar-reg;
  font-size: 14px;
  color: #bfbfbf;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-bar .lang-switcher > span, .upper-bar .cur-switcher > span {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.upper-bar .lang-switcher > span::after, .upper-bar .cur-switcher > span::after {
  content: "\f0d7";
  /* FontAwesome Unicode */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 600;
  font-size: 11px;
  color: #bfbfbf;
  padding: 0 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.upper-bar .lang-switcher .switch, .upper-bar .cur-switcher .switch {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 55%;
  z-index: 9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 110px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
  color: #000;
  border-radius: 5px;
  padding: 8px 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upper-bar .lang-switcher .switch a, .upper-bar .cur-switcher .switch a {
  display: block;
  margin: 3px 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.upper-bar .lang-switcher .switch a:hover, .upper-bar .cur-switcher .switch a:hover {
  color: #bfbfbf;
}

.upper-bar .lang-switcher .switch span, .upper-bar .cur-switcher .switch span {
  padding: 0 2px;
}

.upper-bar .lang-switcher:hover > span, .upper-bar .cur-switcher:hover > span {
  color: #fff;
}

.upper-bar .lang-switcher:hover > span::after, .upper-bar .cur-switcher:hover > span::after {
  color: #fff;
}

.upper-bar .lang-switcher:hover .switch, .upper-bar .cur-switcher:hover .switch {
  top: 23px;
  opacity: 1;
  visibility: visible;
}

.upper-bar .need-help {
  font-family: ar-reg;
  font-size: 14px;
  color: #bfbfbf;
  border-right: 1px solid rgba(255, 255, 255, 0.149);
  padding: 10px 30px 10px 0;
  margin: 0 30px 0 0;
}

[dir="ltr"] .upper-bar .need-help {
  padding: 10px 0 10px 30px;
  margin: 0 0 0 30px;
  border-right: none;
  border-left: 1px solid rgba(255, 255, 255, 0.149);
}

/*------ upperbar end ------*/
/*------ navbar start ------*/
.nav-bar {
  z-index: 9;
}

.nav-bar .zx-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.nav-bar .logo-container {
  width: 270px;
}

.nav-bar .logo-container .logo {
  width: 170px;
}

.nav-bar .logo-container .logo img {
  -webkit-filter: brightness(0%) invert(1);
          filter: brightness(0%) invert(1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav-bar .icons {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .icons .icon-container {
  position: relative;
  font-size: 22px;
  color: #fff;
  margin: 0 0 0 25px;
}

[dir="ltr"] .nav-bar .icons .icon-container {
  margin: 0 25px 0 0;
}

.nav-bar .icons .icon-container:last-child {
  margin: 0;
}

.nav-bar .icons .icon-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .icons .icon-container i {
  padding: 0 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .icon-container span {
  font-family: ar-reg;
  font-size: 16px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .icon-container:hover {
  color: #bfbfbf;
}

.nav-bar .icons .menu-icon {
  display: none;
}

.nav-bar .icons .user-icon {
  position: relative;
}

.nav-bar .icons .user-icon .after {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .user-icon .after::after {
  content: "\f0d7";
  /* FontAwesome Unicode */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 600;
  font-size: 11px;
  color: #727071;
  padding: 0 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-bar .icons .user-icon .switch {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 55%;
  z-index: 9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 130px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
  color: #000;
  border-radius: 5px;
  padding: 8px 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar .icons .user-icon .switch a {
  display: block;
  margin: 3px 0;
}

.nav-bar .icons .user-icon .switch a:hover {
  color: #bfbfbf;
}

.nav-bar .icons .user-icon .switch span {
  padding: 0 2px;
  font-size: 15px;
}

.nav-bar .icons .user-icon:hover > span {
  color: #fff;
}

.nav-bar .icons .user-icon:hover > span::after {
  color: #fff;
}

.nav-bar .icons .user-icon:hover .switch {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.nav-bar .icons .cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.nav-bar.fixed-nav .logo-container .logo {
  width: 114px;
}

.nav-bar.fixed-nav .logo-container .logo img {
  -webkit-filter: unset;
          filter: unset;
}

.nav-bar.fixed-nav .icons .icon-container {
  color: #000;
}

.nav-bar.fixed-nav .nav-list .list li {
  color: #000;
}

.nav-bar.fixed-nav .nav-list .list li::after {
  color: #000;
}

.nav-bar.fixed-nav .mega-menu {
  top: 80px;
}

/*------ navbar end ------*/
/*------ navlist start ------*/
.nav-list .zx-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .list li {
  font-family: ar-md;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

[dir="ltr"] .nav-list .list li {
  margin: 0 18px 0 0;
}

.nav-list .list li:last-child {
  margin: 0;
}

.nav-list .list li:hover {
  color: #bfbfbf;
}

.nav-list .list li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.nav-list .list .mega-hover::after {
  content: "\f0d7";
  /* FontAwesome Unicode */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  padding: 0 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*------ navlist end ------*/
.mega-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100vW;
  position: absolute;
  top: 130px;
  left: 0;
  z-index: 9;
}

.mega-menu .container {
  position: relative;
}

.mega-menu .zx-mega-container {
  background-color: #fff;
  padding: 30px 30px;
  width: 100%;
}

.mega-menu .mega-container {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mega-menu .list-title {
  font-family: ar-bold;
  font-size: 18px;
  color: #000;
  margin: 10px 0 0 0;
}

.mega-menu ul {
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.mega-menu ul li {
  font-family: ar-reg;
  font-size: 16px;
  margin: 0 0 10px 90px !important;
  color: #333 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

[dir="ltr"] .mega-menu ul li {
  margin: 0 80px 10px 0 !important;
}

.mega-menu ul li:hover {
  color: #000;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

[dir="ltr"] .mega-menu ul li:hover {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.mega-menu .mega-img {
  max-width: 415px;
}

.mega-menu .mega-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.mega-menu .mega-brands .img-container {
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  width: 127px;
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.mega-menu::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 61%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid #fff;
}

[dir="ltr"] .mega-menu::before {
  left: unset;
  right: 60%;
}

/*------ header start ------*/
.header {
  margin: 0px 0 0 0;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.302);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .overlay .inner {
  text-align: center;
}

.header .overlay .inner p {
  font-family: ar-md;
  font-size: 48px;
  color: #fff;
  margin: 0 0 10px 0;
}

.header .overlay .inner h2 {
  font-family: ar-ex-bold;
  font-size: 60px;
  color: #fff;
  margin: 0 0 30px 0;
}

.header .overlay .inner button {
  font-family: ar-md;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 40px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .overlay .inner button:hover {
  background-color: #fff;
  color: #000;
}

.header .owl-carousel {
  position: relative;
}

.header .owl-carousel .owl-nav .owl-prev, .header .owl-carousel .owl-nav .owl-next {
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 48px;
  color: rgba(255, 255, 255, 0.302);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .owl-carousel .owl-nav .owl-prev:hover, .header .owl-carousel .owl-nav .owl-next:hover {
  color: #fff;
}

.header .owl-carousel .owl-nav .owl-prev {
  right: 40px;
}

.header .owl-carousel .owl-nav .owl-next {
  left: 40px;
}

.header .owl-carousel .owl-dots {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .owl-carousel .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background-color: #00000080;
  outline: none;
  margin: 0 5px;
}

.header .owl-carousel .owl-dots .owl-dot.active {
  background-color: #fff;
}

/*------ header end ------*/
/*------ category start ------*/
.cats {
  margin: 0 0 0px 0;
}

.cats .row {
  margin: 0;
  padding: 0;
}

.cats .row .col-md-6 {
  margin: 0;
  padding: 0;
}

.cats .cat {
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.cats .cat:hover .overlay {
  -webkit-box-shadow: inset 0px 0px 60px 0px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px 0px 60px 0px rgba(255, 255, 255, 0.4);
}

.cats .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.302);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.cats .overlay .inner {
  text-align: center;
}

.cats .overlay .inner p {
  font-family: ar-bold;
  font-size: 36px;
  color: #fff;
  margin: 0 0 15px 0;
}

.cats .overlay .inner button {
  font-family: ar-md;
  font-size: 17px;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  margin: 0 0 50px 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.cats .overlay .inner button:hover {
  background-color: #fff;
  color: #000;
}

/*------ category end ------*/
/*--- card start ---*/
.card {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.card:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .offer {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 28px;
  border-radius: 3px;
  background-color: #f4002b;
  font-family: ar-md;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .rate i {
  padding: 0 1px;
  font-size: 12px;
  color: #ffb400;
}

.card .rate i:last-child {
  color: #bfbfbf;
}

.card .card-img {
  height: 330px;
  margin: 0 0 0px 0;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-img img {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  mix-blend-mode: multiply;
}

.card .card-body {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .title {
  font-family: ar-reg;
  font-size: 16px;
  color: #000;
  margin: 20px 0 5px 0;
  padding: 0 0 5px 0;
  overflow: hidden;
  text-align: center;
}

.card .price {
  font-family: ar-bold;
  font-size: 18px;
  color: #000;
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 5px 0;
}

.card .price .old {
  font-family: ar-reg;
  font-size: 18px;
  color: #999;
  margin: 0 5px;
}

/*--- card end ---*/
/*------ sp offers start ------*/
.sp-offers {
  margin: 90px 0 0 0;
}

.sp-offers .sp-offers-header {
  text-transform: uppercase;
  margin: 0px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sp-offers .sp-offers-header h3 {
  font-family: ar-md;
  font-size: 30px;
  color: #000;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sp-offers .owl-carousel {
  position: relative;
}

.sp-offers .owl-carousel .owl-nav {
  display: none;
}

.sp-offers .owl-carousel .owl-nav .owl-prev, .sp-offers .owl-carousel .owl-nav .owl-next {
  outline: none;
  position: absolute;
  top: 40%;
  font-size: 14px;
  color: #b3b3b3;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.sp-offers .owl-carousel .owl-nav .owl-prev:hover, .sp-offers .owl-carousel .owl-nav .owl-next:hover {
  color: #000;
}

.sp-offers .owl-carousel .owl-nav .owl-prev {
  right: -25px;
}

.sp-offers .owl-carousel .owl-nav .owl-next {
  left: -25px;
}

.sp-offers .owl-carousel .owl-dots {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sp-offers .owl-carousel .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background-color: #bfbfbf80;
  outline: none;
  margin: 0 5px;
}

.sp-offers .owl-carousel .owl-dots .owl-dot.active {
  background-color: #000;
}

/*------ sp offers end ------*/
/*------ panner ------*/
.panner {
  margin: 90px 0 0px 0;
}

.panner .img-container {
  overflow: hidden;
}

.panner .img-container img {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.panner .img-container:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/*------ panner ------*/
.service {
  background-color: #f5f5f5;
  padding: 60px 0;
  margin: 90px 0 0 0;
}

.service .serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .serv .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .serv .icon i {
  width: 85px;
  height: 85px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 36px;
  margin: 0 0 0 15px;
}

[dir="ltr"] .service .serv .icon i {
  margin: 0 15px 0 0;
}

.service .serv .icon span {
  font-family: ar-reg;
  font-size: 16px;
  color: #000;
  max-width: 195px;
}

/*------ footer start ------*/
.footer {
  padding: 75px 0 40px 0;
  background-color: #fff;
}

.footer .list-header {
  margin: 0px 0 20px 0;
  font-family: ar-bold;
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
}

.footer ul {
  font-family: ar-reg;
  font-size: 15px;
  color: #333;
}

.footer ul li {
  margin: 15px 0;
}

.footer ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer ul a:hover {
  padding: 0 3px;
  color: #000;
}

.footer .contact-info .info-header {
  margin: 0px 0 20px 0;
  font-family: ar-bold;
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
}

.footer .contact-info p {
  font-family: ar-reg;
  font-size: 15px;
  color: #000;
  margin: 0 0 15px 0;
}

.footer .sub {
  position: relative;
}

.footer .sub input {
  outline: none;
  width: 100%;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer .sub input::-webkit-input-placeholder {
  font-family: ar-reg;
  font-size: 15px;
  color: #999;
}

.footer .sub input::-moz-placeholder {
  font-family: ar-reg;
  font-size: 15px;
  color: #999;
}

.footer .sub input:-ms-input-placeholder {
  font-family: ar-reg;
  font-size: 15px;
  color: #999;
}

.footer .sub input::-ms-input-placeholder {
  font-family: ar-reg;
  font-size: 15px;
  color: #999;
}

.footer .sub input::placeholder {
  font-family: ar-reg;
  font-size: 15px;
  color: #999;
}

.footer .sub input:hover, .footer .sub input:focus {
  border-color: #000;
}

.footer .sub button {
  position: absolute;
  top: 13px;
  left: 23px;
  font-size: 18px;
  color: #000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer .sub button:hover, .footer .sub button:focus {
  color: #000;
}

[dir="ltr"] .footer .sub button {
  left: unset;
  right: 23px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.footer .footer-icons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
}

.footer .footer-icons a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 40px;
  height: 40px;
  margin: 0 2.5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fff;
  background-color: #b3b3b3;
  border-radius: 50%;
}

.footer .footer-icons a:hover {
  background: #000 !important;
  color: #fff;
}

.footer .footer-icons a:nth-of-type(1) {
  background-color: #3a5a97;
}

.footer .footer-icons a:nth-of-type(2) {
  background-color: #f7cb00;
}

.footer .footer-icons a:nth-of-type(3) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer .footer-icons a:nth-of-type(4) {
  background-color: #2ac5f4;
}

.footer .copy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 55px 0 4px 0;
}

.footer .copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.footer .copyrights span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: ar-reg;
  font-size: 15px;
  color: #333;
}

.footer .copyrights span:nth-of-type(2) {
  padding: 0 3px;
}

.footer .copyrights img {
  margin: 0px 5px;
}

.footer .payment {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------ footer end ------*/
.fixed-menu {
  display: none;
}

/*------ responsive ------*/
@media (min-width: 1600px) {
  .owl-carousel .owl-item img {
    width: 100%;
  }
  .container {
    width: 1440px;
  }
  .mega-menu::before {
    left: 58%;
  }
  [dir="ltr"] .mega-menu::before {
    left: unset;
    right: 57%;
  }
  .cats .cat .cat-img img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .owl-carousel .owl-item img {
    width: 100%;
  }
  .container {
    width: unset;
  }
  .pre-loader .content {
    width: 130px;
  }
  .upper-bar {
    display: none;
  }
  .nav-bar {
    position: relative;
    background-color: #fff;
  }
  .nav-bar .icons .icon-container {
    color: #000;
  }
  .nav-bar .logo-container .logo img {
    -webkit-filter: unset;
            filter: unset;
  }
  .nav-bar .zx-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-bar .logo-container {
    width: unset;
  }
  .nav-bar .logo-container .logo {
    width: 120px;
  }
  .nav-bar .icons {
    width: unset;
  }
  .nav-bar .icons .user-icon, .nav-bar .icons .fav-icon {
    display: none;
  }
  .nav-bar .icons .cart-icon .counter {
    padding: 3px 0 0 0;
  }
  .nav-bar .icons .menu-icon, .nav-bar .icons .search-icon {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .nav-bar .icons .menu-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
  }
  [dir="ltr"] .nav-bar .icons .menu-icon {
    right: unset;
    left: 20px;
  }
  .nav-bar .icons .search-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 60px;
  }
  [dir="ltr"] .nav-bar .icons .search-icon {
    right: unset;
    left: 60px;
  }
  .nav-bar .icons .cart-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px;
  }
  [dir="ltr"] .nav-bar .icons .cart-icon {
    left: unset;
    right: 10px;
  }
  .nav-bar .nav-search {
    display: none;
  }
  .fixed-menu .lang-switcher, .fixed-menu .cur-switcher {
    position: relative;
    font-family: ar-reg;
    font-size: 14px;
    color: #000;
    margin: 0 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  [dir="ltr"] .fixed-menu .lang-switcher, [dir="ltr"] .fixed-menu .cur-switcher {
    margin: 0 15px 0 0;
  }
  .fixed-menu .lang-switcher > span, .fixed-menu .cur-switcher > span {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .fixed-menu .lang-switcher > span::after, .fixed-menu .cur-switcher > span::after {
    content: "\f0d7";
    /* FontAwesome Unicode */
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    font-size: 11px;
    color: #000;
    padding: 0 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .fixed-menu .lang-switcher .switch, .fixed-menu .cur-switcher .switch {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 55%;
    z-index: 9;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 90px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    color: #000;
    border-radius: 5px;
    padding: 8px 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fixed-menu .lang-switcher .switch a, .fixed-menu .cur-switcher .switch a {
    display: block;
    margin: 3px 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .fixed-menu .lang-switcher .switch a:hover, .fixed-menu .cur-switcher .switch a:hover {
    color: #000;
  }
  .fixed-menu .lang-switcher .switch span, .fixed-menu .cur-switcher .switch span {
    padding: 0 2px;
  }
  .fixed-menu .lang-switcher:hover > span, .fixed-menu .cur-switcher:hover > span {
    color: #000;
  }
  .fixed-menu .lang-switcher:hover > span::after, .fixed-menu .cur-switcher:hover > span::after {
    color: #000;
  }
  .fixed-menu .lang-switcher:hover .switch, .fixed-menu .cur-switcher:hover .switch {
    top: 23px;
    opacity: 1;
    visibility: visible;
  }
  .fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }
  .fixed-menu .menu {
    width: 260px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -280px;
    background-color: #fff;
    padding: 20px 20px;
    overflow-y: auto;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  [dir="ltr"] .fixed-menu .menu {
    right: unset;
    left: -280px;
  }
  .fixed-menu .menu.show {
    right: 0;
  }
  [dir="ltr"] .fixed-menu .menu.show {
    right: unset;
    left: 0;
  }
  .fixed-menu .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fixed-menu .menu-header .close {
    opacity: 1;
    color: #444;
    font-size: 17px;
    position: absolute;
    top: 20px;
    left: 15px;
  }
  [dir="ltr"] .fixed-menu .menu-header .close {
    left: unset;
    right: 15px;
  }
  .fixed-menu .main-list {
    text-transform: uppercase;
    margin: 45px 0px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  [dir="ltr"] .fixed-menu .main-list {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .fixed-menu .main-list .slide {
    cursor: pointer;
    position: relative;
  }
  .fixed-menu .main-list .slide::after {
    content: "";
    font-family: "Linearicons-Free";
    font-size: 8px;
    color: #000;
    position: absolute;
    top: 8px;
    left: 10px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  [dir="ltr"] .fixed-menu .main-list .slide::after {
    left: unset;
    right: 10px;
  }
  .fixed-menu .main-list .slide.active {
    color: #000;
  }
  .fixed-menu .main-list .slide.active::after {
    content: "";
  }
  [dir="ltr"] .fixed-menu .main-list .slide.active::after {
    content: "";
  }
  .fixed-menu .main-list > li {
    font-family: ar-md;
    font-size: 16px;
    color: #333;
    margin: 10px 0;
  }
  .fixed-menu .main-list > li a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  .fixed-menu .main-list.show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .fixed-menu .sub-list {
    padding: 5px 5px;
    display: none;
  }
  .fixed-menu .sub-list .slide-two {
    cursor: pointer;
    position: relative;
  }
  .fixed-menu .sub-list .slide-two::after {
    content: "";
    font-family: "Linearicons-Free";
    font-size: 8px;
    color: #0f0f0f;
    position: absolute;
    top: 9px;
    left: 15px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  [dir="ltr"] .fixed-menu .sub-list .slide-two::after {
    left: unset;
    right: 15px;
  }
  .fixed-menu .sub-list .slide-two.active {
    color: #000;
  }
  .fixed-menu .sub-list .slide-two.active::after {
    content: "";
  }
  [dir="ltr"] .fixed-menu .sub-list .slide-two.active::after {
    content: "";
  }
  .fixed-menu .sub-list li {
    font-family: ar-md;
    font-size: 16px;
    color: #333;
    margin: 8px 0;
  }
  .fixed-menu .sub-list li a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  .fixed-menu .sub-list-copy {
    padding: 5px 5px;
    display: none;
  }
  .fixed-menu .sub-list-copy li {
    font-family: ar-md;
    font-size: 15px;
    color: #333;
  }
  .fixed-menu .sub-list-copy li a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  .header {
    margin: 0px 0 0 0;
  }
  .header .owl-carousel .owl-nav {
    display: none;
  }
  .header .owl-carousel .owl-dots {
    bottom: 10px;
  }
  .header .owl-carousel .owl-dots .owl-dot {
    margin: 0 5px;
  }
  .header .overlay .inner {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 30px 0 0 0;
  }
  .header .overlay .inner p {
    font-size: 18px;
  }
  .header .overlay .inner h2 {
    font-size: 24px;
    margin: 0;
  }
  .header .overlay .inner button {
    display: none;
  }
  .cats .cat .cat-img img {
    width: 100%;
  }
  .cats .owl-carousel .owl-nav {
    display: none;
  }
  .cats .owl-carousel .owl-dots {
    display: block;
    bottom: -25px;
  }
  .cats .owl-carousel .owl-dots .owl-dot {
    margin: 0 5px;
  }
  .cats .overlay .inner p {
    font-size: 24px;
  }
  .cats .overlay .inner button {
    padding: 5px 20px;
  }
  .sp-offers .sp-offers-header h3 {
    font-size: 24px;
  }
  .sp-offers {
    margin: 50px 0 70px 0;
  }
  .sp-offers .card {
    margin: 0 auto;
  }
  .sp-offers .owl-carousel {
    position: relative;
  }
  .sp-offers .owl-carousel .owl-nav {
    display: none;
  }
  .sp-offers .owl-carousel .owl-dots {
    display: block;
  }
  .panner {
    margin: 25px 0 25px 0;
  }
  .panner .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px 0;
  }
  .service {
    padding: 15px 0;
  }
  .service .serv {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .serv .icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .serv .icon i {
    margin: 0;
  }
  [dir="ltr"] .service .serv .icon i {
    margin: 0;
  }
  .service .serv .icon span {
    width: unset;
    padding: 15 5px;
    text-align: center;
  }
  .footer {
    padding: 40px 10px 0 10px;
  }
  .footer .zx-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px 0 0 0;
  }
  .footer .contact-info .info-header {
    margin: 50px 0 20px 0;
  }
  .footer .contact-info p {
    text-align: center;
  }
  .footer .list-header {
    margin: 0;
    padding: 10px 0;
    position: relative;
  }
  .footer .list-header::after {
    content: "";
    font-family: "Linearicons-Free";
    font-size: 12px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  [dir="ltr"] .footer .list-header::after {
    left: unset;
    right: 0;
  }
  .footer .list-header.active::after {
    content: "";
  }
  [dir="ltr"] .footer .list-header.active::after {
    content: "";
  }
  .footer .footer-slide {
    display: none;
    padding: 0 0 0 0;
    margin: unset;
  }
  .footer .footer-slide li {
    margin: unset;
    padding: 0 0 10px 0;
  }
  .footer .info-header {
    text-align: center;
    margin: 40px 0 20px 0;
  }
  .footer .info-list a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .copy-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 25px 0;
  }
  .footer .copyrights {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 20px 0 0 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .copyrights span {
    padding: 3px 0;
  }
  .footer .copyrights span:nth-of-type(2) {
    display: none;
  }
  .footer .payment {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 10px 0 0px 0;
  }
}

@media (max-width: 480px) {
  .search-container .zx-search {
    width: 90%;
  }
  .panner {
    margin: 15px 0;
  }
}

/*------ direction ------*/

/*# sourceMappingURL=home.css.map */
